.footer-layout {
    left: 0;
    right: 0;
    height: auto;
    background: #fff;
    display: -webkit-box;
    margin-bottom: 50px;
}

@media screen and (max-width : 500px) {
    .footer-layout {
        display: block;
    }
}